{% extends "base.html" %}
{% load static %}
{% load widget_tweaks %}

{% block header %}
{% endblock %}

{% block content %}
<section class="hero container has-text-centered">
  <div class="columns hero-body">
    <div class="column is-4 is-offset-4">
      <h1 class="h1-meio">Anotação de textos médicos</h1>
      <p>Por favor, faça login para iniciar a anotação dos dados
      </p>
      <br>
      <div class="box has-text-left">
        {% if form.errors %}
        <p>Usuário e senha incorretos. Tente novamente.</p>
        {% endif %} {% if next %} {% if user.is_authenticated %}
        <p>Você não possui acesso à esta página. Contate o administrador.</p>
        {% else %}
        <p>Realize o login para ter acesso.</p>
        {% endif %} {% endif %}

        <form method="post" action="{% url 'login' %}">
          {% csrf_token %}
          <div class="field ">
            <label class="label">Usuário</label>
            <div class="control has-icons-left has-icons-right">
              {{ form.username|add_class:"input" }}
              <span class="icon is-small is-left">
                <i class="fas fa-user"></i>
              </span>
              <span class="icon is-small is-right">
                <i class="fas fa-check"></i>
              </span>
            </div>
          </div>

          <div class="field">
            <label class="label">Senha</label>
            <div class="control has-icons-left has-icons-right">
              {{ form.password|add_class:"input"}}
              <span class="icon is-small is-left">
                <i class="fas fa-lock"></i>
              </span>
              <span class="icon is-small is-right">
                <i class="fas fa-check"></i>
              </span>
            </div>
          </div>
          <div class="field">
            <label class="checkbox">
              <input type="checkbox"> Lembre de mim
            </label>
          </div>
          <input class="button is-block is-info is-middle is-fullwidth" type="submit" value="Login" />
          {% if allow_signup %}
          <div class="field">
            <span class="checkbox" style="margin-top:10px">
              Not registered yet ? <a href="{% url 'signup' %}"> Sign up </a>
            </span>
          </div>
          {% endif %}
          <input type="hidden" name="next" value="{{ next }}" />
        </form>
        {% if social_login_enabled %}
        <div class="is-divider" data-content="OR"></div>
        {% endif %}
        {% if github_login %}
        <a href="{% url 'social:begin' 'github' %}" class="button is-fullwidth mb10">
          <span class="icon"><i class="fab fa-github"></i></span>
          <span>Login with Github</span>
        </a>
        {% endif %}
        {% if aad_login %}
        <a href="{% url 'social:begin' 'azuread-tenant-oauth2' %}" class="button is-fullwidth mb10">
          <span class="icon"><i class="fab fa-microsoft"></i></span>
          <span>Login with Active Directory</span>
        </a>
        {% endif %}
      </div>
    </div>
  </div>
</section>

<footer class="footer">
  <div class="container">
    <div class="columns">
      <div class="column is-3">
        <h2>
          <strong class="has-text-white">SOBRE</strong>
        </h2>
        <p>Este projeto é realizado em colaboração entre a UFRGS e o Hospital de Clínicas
          de Porto Alegre (HCPA), com o objetivo de anonimizar dados médicos.</p>
      </div>
      <div class="column is-3">
        <h2>
          <strong class="has-text-white">USUÁRIOS</strong>
        </h2>
        <p>O acesso aos dados é restrito, assim como a criação de usuários.
          No caso de problemas com o acesso, enviar e-mail para
          <a href="mailto:lloliveira@inf.ufrgs.br?subject=Anotação-BRHIM">lloliveira@inf.ufrgs.br</a></p>
      </div>
      <div class="column is-3">
        <h2>
          <strong class="has-text-white">REALIZAÇÃO</strong>
        </h2>
        <div class="flex-vcenter">
          <a href="http://inf.ufrgs.br" target="_blank">
            <img src="{% static 'assets/images/logo_inf.jpg' %}" alt="Logo INF">
          </a>
          <a href="http://ufrgs.br" target="_blank">
            <img src="{% static 'assets/images/logo_ufrgs.jpg' %}" alt="Logo UFRGS">
          </a>
          <a href="https://www.hcpa.edu.br/" target="_blank">
            <img src="{% static 'assets/images/logo_hcpa.jpg' %}" alt="Logo HCPA">
          </a>
        </div>
      </div>
      <div class="column is-3">
        <h2>
          <strong class="has-text-white">DOCCANO</strong>
        </h2>
        <p>
          <a href="https://github.com/doccano/doccano">Doccano</a>  
          é uma ferramentade anotação de texto de código aberto, criada por
          <a href="https://github.com/Hironsan">Hironsan</a>, com adaptações para este projeto por
          <a href="https://github.com/lucaslioli">lucaslioli</a>. <i>The source code is licensed
          <a href="http://opensource.org/licenses/mit-license.php">MIT</a></i>.
        </p>
      </div>
    </div>
  </div>
</footer>
{% endblock %}
